<?xml version="1.0" encoding="UTF-8"?>
<web-app
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   id="WebApp_ID"
   version="3.0">
   <display-name>genews</display-name>
   <welcome-file-list>
      <welcome-file>index.xhtml</welcome-file>
      <welcome-file>login.xhtml</welcome-file>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>default.html</welcome-file>
      <welcome-file>default.htm</welcome-file>
      <welcome-file>default.jsp</welcome-file>
   </welcome-file-list>
   <servlet>
      <servlet-name>Faces Servlet</servlet-name>
      <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet>
      <servlet-name>Jedi Servlet</servlet-name>
      <servlet-class>br.gov.go.agr.genews.servlets.JediServlet</servlet-class>
      <load-on-startup>2</load-on-startup>
   </servlet>
   <servlet>
      <servlet-name>AdicionaUsuarios</servlet-name>
      <servlet-class>br.gov.go.agr.genews.servlets.AdicionaUsuarios</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>SyncDB</servlet-name>
      <servlet-class>br.gov.go.agr.genews.servlets.SyncDB</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.xhtml</url-pattern>
   </servlet-mapping>
   <context-param>
      <param-name>javax.faces.PROJECT_STAGE</param-name>
      <param-value>Production</param-value>
   </context-param>
   <context-param>
      <description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
      <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
      <param-value>client</param-value>
   </context-param>
   <context-param>
      <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
      <param-value>resources.application</param-value>
   </context-param>
   <context-param>
      <param-name>primefaces.THEME</param-name>
      <param-value>bootstrap</param-value>
   </context-param>
   <context-param>
      <param-name>primefaces.FONT_AWESOME</param-name>
      <param-value>true</param-value>
   </context-param>
   <context-param>
      <param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
      <param-value>true</param-value>
   </context-param>
   <context-param>
      <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
      <param-value>true</param-value>
   </context-param>
   <context-param>
      <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
      <param-value>true</param-value>
   </context-param>
   <context-param>
      <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
      <param-value>-1</param-value>
   </context-param>
   <listener>
      <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
   </listener>
   <filter>
      <filter-name>LoginFilter</filter-name>
      <filter-class>br.gov.go.agr.genews.filters.LoginFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>LoginFilter</filter-name>
      <url-pattern>/admin/*</url-pattern>
   </filter-mapping>
   <mime-mapping>
      <extension>eot</extension>
      <mime-type>application/vnd.ms-fontobject</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>otf</extension>
      <mime-type>font/opentype</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>ttf</extension>
      <mime-type>application/x-font-ttf</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>woff</extension>
      <mime-type>application/x-font-woff</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>woff2</extension>
      <mime-type>application/x-font-woff</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>sgv</extension>
      <mime-type>image/sgv+xml</mime-type>
   </mime-mapping>
   <session-config>
      <session-timeout>15</session-timeout>
   </session-config>
   <error-page>
      <error-code>404</error-code>
      <location>/404.xhtml</location>
   </error-page>
</web-app>